@define-color base   #1e1e2e;
@define-color mantle #181825;
@define-color crust  #11111b;

@define-color text     #cdd6f4;
@define-color subtext0 #a6adc8;
@define-color subtext1 #bac2de;

@define-color surface0 #313244;
@define-color surface1 #45475a;
@define-color surface2 #585b70;

@define-color overlay0 #6c7086;
@define-color overlay1 #7f849c;
@define-color overlay2 #9399b2;

@define-color blue      #89b4fa;
@define-color lavender  #b4befe;
@define-color sapphire  #74c7ec;
@define-color sky       #89dceb;
@define-color teal      #94e2d5;
@define-color green     #a6e3a1;
@define-color yellow    #f9e2af;
@define-color peach     #fab387;
@define-color maroon    #eba0ac;
@define-color red       #f38ba8;
@define-color mauve     #cba6f7;
@define-color pink      #f5c2e7;
@define-color flamingo  #f2cdcd;
@define-color rosewater #f5e0dc;

* {
  border: none;
  border-radius: 0;
  font-family: "Terminess Nerd Font",  Roboto, sans-serif;
  font-size: 8px;
  font-weight: 400;
}

window#waybar {
    background-color: @crust;
    color: @text;
}

#window {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 0;
  padding-bottom: 0;
  border-radius: 0px;
  transition: none;
}

#custom-notification {
  margin-top: 5px;
  margin-bottom: 4px;
  margin-right: 14px;
  margin-left: 10px;
  padding: 0px 9px;
  color: #a3b8ef;
}

#custom-logo {
  color: #8cc1ff;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 4px;
  padding-right: 0px;
  border-radius: 0px;
}

#mode,
#custom-updates,
#cpu,
#memory,
#temperature,
#custom-fans,
#idle_inhibitor,
#language,
#custom-spacer {
  padding: 0 0px;
  margin: 0px 4px 0px 4px;
  border: 0px solid rgba(0, 0, 0, 0);
  border-radius: 90px;
  background-clip: padding-box;
}

#memory {
  color: #c678dd;
}

#pulseaudio {
    color: @yellow;
  padding: 0 13px;
  margin: 4px 6px 6px 6px;
}

#pulseaudio.muted {
    background-color: @red;
    color: black;
}

#backlight {
    color: @blue;
}

#battery {
  padding: 0 13px;
  margin: 4px 4px 6px 4px;
  border-radius: 0;
}

#clock {
    margin: 0px;
  color: #89b4fa;
  padding: 1px 10px 1px 10px;
  background-clip: padding-box;
  background: transparent;
  font-size: 11px;
}

#battery.charging,
#battery.plugged {
    color: @yellow;
  background-clip: padding-box;
}

#tray {
  margin-top: 6px;
  margin-bottom: 6px;
  margin-right: 6px;
  margin-left: 0px;
  padding: 0px 9px;
}

#battery.critical, #battery.low {
  padding: 0 13px;
  background-clip: padding-box;
  color: @red;
}

#battery.discharging {
  background-clip: padding-box;
}

#backlight,
#pulseaudio,
#custom-bluetooth {
  padding: 0 13px;
  margin-top: 5px;
  margin-bottom: 4px;
  margin-left: 3px;
  margin-right: 3px;
}

#custom-bluetooth {
    background: @teal;
    color: black;
}

widget > * {
  margin-top: 0px;
  margin-bottom: 0px;
}
.modules-left > widget > * {
  margin-left: 12px;
  margin-right: 12px;
}
.modules-left > widget:first-child > * {
  margin-left: 25px;
}
.modules-left > widget:last-child > * {
  margin-right: 12px;
}
.modules-center > widget > * {
  margin-left: 12px;
  margin-right: 12px;
}
.modules-right > widget > * {
  padding: 0 12px;
  margin-left: 0;
  margin-right: 0;
}
.modules-right > widget:first-child > * {
  border-radius: 5px 0 0 5px;
}
.modules-right > widget:last-child > * {
  border-radius: 0 5px 5px 0;
  margin-right: 20px;
}
#taskbar button.active {
  background-color: #21262e;
  margin-left: 4px;
  border-radius: 4px;
  font-family: Fira Sans;
  margin-right: 4px;
}
#taskbar button {
  background-color: #171b20;
  font-family: Fira Sans;
  border-radius: 4px;
  margin-left: 4px;
  margin-right: 4px;
}
