* {
  all: unset; //Unsets everything so you can style everything from scratch
  font-family: "JetBrainsMono Nerd Font";
}

$rosewater: #f5e0dc;
$flamingo: #f2cdcd;
$pink: #f5c2e7;
$mauve: #cba6f7;
$red: #f38ba8;
$maroon: #eba0ac;
$peach: #fab387;
$yellow: #f9e2af;
$green: #a6e3a1;
$teal: #94e2d5;
$sky: #89dceb;
$sapphire: #74c7ec;
$blue: #89b4fa;
$lavender: #b4befe;
$text: #cdd6f4;
$subtext1: #bac2de;
$subtext0: #a6adc8;
$overlay2: #9399b2;
$overlay1: #7f849c;
$overlay0: #6c7086;
$surface2: #585b70;
$surface1: #45475a;
$surface0: #313244;
$base: #222222;
$mantle: #181825;
$crust: #000;

* {
    all: unset;
    font-family: Iosevka Nerd Font;
}

.window {
    background-color: $crust;
    border-radius: 5;
    padding: 10px;
}

scale {
    margin: 0.5rem 0;
}

scale trough {
	all: unset;
	background-color: $surface0;
	border-radius: 24px;
	min-height: 15px;
	min-width: 270px;
	margin : 5px;
}

scale trough highlight {
    background-color: $subtext0;
    border-radius: 24px;
}

.clock_widget, .cal_widget, .stats_widget, .media_widget, .user_widget, .temp_widget, .quote_widget, .launcher_widget, .notes_widget, .graph_widget{
    background-color: $base;
    border-radius: 5;
    margin: 10px;
}

.clock_widget {
    color: $mauve;
}

.time {
    font-size: 25;
}

.date {
    font-size: 25;
}

calendar {
    all: unset;
    background-color: $base;
    font-size: 17;
    margin: 10px;
    border-radius: 5;
}

calendar:selected {
    color: $red;
}

calendar.header {
    color: $red;
    font-weight: bold;
}

calendar:indeterminate {
    color: $subtext0;
}

.stat {
    font-size: 25px;
    margin: 5px;
}

.media_keys {
    font-size: 20px;
    color: $sky;
    padding: 3px;
    background-color: $base;
}

.media_simp {
    font-size: 20px;
    color: $sky;
    background-color: $base;
    padding: 6px 0px;
}

.media_widget {
    padding: 5px 10px;
}

.media_overlay {
    background-color: $base;
}

.media_overlay scale trough highlight {
    background-color: $subtext0;
    border-radius: 24px;
}

.media_widget button {
    background-color: $base;
    color: $lavender;
    border-radius: 5;
    padding: 0 8px;
}

.user_widget {
    font-size: 20px;
    color: $text;
}


.launcher_widget {
    font-size:42px;
    color: $lavender;
}

    .genwin {
    background-color: $base;
    border-radius: 5;
    margin: 10px;
    padding: 5px;
}
.iconcpu, .iconmem, .iconbright, .iconbat ,.iconvol {
	font-size : 20px;
	font-weight : normal;
}
.iconcpu {
	color: #BF616A;
}
.iconmem {
	color: #A3BE8C;
}
.iconbright {
	color: #EBCB8B;
}
.iconbat {
	color: #88C0D0;
}
.iconvol {
    color: $blue;
}

.cpu_bar, .mem_bar, .bright_bar, .bat_bar, scale trough {
	all: unset;
	background-color: #3A404C;
	border-radius: 16px;
	min-height: 28px;
	min-width: 240px;
}

.cpu_bar, .mem_bar, .bright_bar, .bat_bar, scale trough highlight {
	all: unset;
	border-radius: 16px;
}

.cpu_bar scale trough highlight {
	background-color: #BF616A;
}
.mem_bar scale trough highlight {
	background-color: #A3BE8C;
}
.bright_bar scale trough highlight {
	background-color: #EBCB8B;
}
.bat_bar scale trough highlight {
	background-color: #88C0D0;
}

.slider_box {
  scale {
    background-color: $crust;
    margin: 0.5rem 2rem;
    border-radius: 24px;
  }
  scale trough {
	border-radius: 24px;
  }

  .brightness_slider highlight {
    background-color: $yellow;
  }

  .volume_slider highlight {
    background-color: $blue;
  }

}
