@import "./themes/auto.scss";
@import "./src/scss/_base.scss";

@import "./src/scss/ocular/_init.scss";
@import "./src/scss/bolt/_init.scss";
@import "./src/scss/lumin/_init.scss";
@import "./src/scss/chrono/_init.scss";
@import "./custom/scss/eww.scss";
@import "./ewwwtf/eww.scss";

$base: #44465c;
$blue: #3fc6de;
$surface0: #44465c;
$surface1: #44465c;
$text: #d9e0ee;
$overlay0: #6e738d;
$red: #ec6a88;
$peach: #efb993;
$yellow: #efb993;
$mauve: #b072d1;
$green: #3fdaa4;
$mantle: #000;
$crust: #000;
$light-gray: #9699b7;

* {
  all: unset; //Unsets everything so you can style everything from scratch
  font-family: "JetBrainsMono Nerd Font";
}

