Electron/
discord/
inkscape/
EOS-greeter.conf
xed/
xfce4/
yay/
neofetch
systemd/
Thunar
example.picom.conf
eos-update-notifier.first_init
autostart/
dconf/
nano/
pulse/
reflector-simple-free-params.txt
user-dirs.dirs
user-dirs.locale
.zsh/zsh-autosuggestions/.git
Code/
libvirt/
xsettingsd/
gnunet.conf
gnome-boxes/
nwg-look/
Unknown\ Organization/
libreoffice/
zoom.conf
zoomus.conf
cef_user_data/
QtProject.conf 
configstore/ 
qutebrowser/
BraveSoftware/
JetBrains/
lazygit/
lutris/
menus
vivaldi/
qtile/secrets.py
scripts/discordwebhook.sh
scripts/secrets.py
GIMP/
cmus/
midori/
microsoft-edge-dev/
sublime-text/
ayamir-nvim/
nvchad-nvim/
astronvim/
.mypy_cache/
BraveSoftware/ 
midori/
nvim/.mypy_cache/
nwg-look/config
qutebrowser/
reflector-simple-free-params.txt
xed/accels
xfce4/
*kde*
*plasma*
KDE/
trashrc
Trolltech.conf 
kfont*
kglobal*
kcim*
kate*
kact*
kwin*
kxb*
libaccounts-glib/
sddmtheme*
Plasma*
systemsettings*
kcmin*
krunnerrc
kmixrc
bluedevil*
discoverrc
baloo*
akreg*
flameshotrc
github-copilot
kgotkeys*
kconf*
khotkeysrc
mimeapps.list 
powermanagementprofilesrc
ksmserverrc
kscreenlockerrc
kxkbrc
ktimezone*
ksmserverrc

