Electron/
discord/
inkscape/
EOS-greeter.conf
xed/
xfce4/
yay/
neofetch
systemd/
Thunar
example.picom.conf
eos-update-notifier.first_init
autostart/
dconf/
nano/
pulse/
reflector-simple-free-params.txt
user-dirs.dirs
user-dirs.locale
.zsh/zsh-autosuggestions/.git
Code/
libvirt/
xsettingsd/
gnunet.conf
gnome-boxes/
nwg-look/
Unknown\ Organization/
libreoffice/
zoom.conf
zoomus.conf
cef_user_data/
QtProject.conf 
configstore/ 
qutebrowser/
BraveSoftware/
JetBrains/
lazygit/
lutris/
menus
vivaldi/
