Electron/
Electron/
EOS-greeter.conf
xed/
xfce4/
yay/
neofetch
systemd/
Thunar
example.picom.conf
eos-update-notifier.first_init
Code - OSS/
autostart/
dconf/
gtk-3.0/
gtk-4.0/
nano/
pulse/
reflector-simple-free-params.txt
user-dirs.dirs
user-dirs.locale
