* {
  border: none;
  min-height: 0px;
  border-radius: 0;
  font-family: "Terminess Nerd Font ", Roboto, sans-serif;
  font-weight: bold;
  font-size: 8px;
  color: #89b4fa;
}

window#waybar {
  background-color: rgba(6, 8, 13, 1);
}

#window {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 0;
  padding-bottom: 0;
  border-radius: 0px;
  transition: none;
}

#submap {
  margin: 0px;
  padding: 0px;
}

#clock {
  margin: 0px;
  color: black;
  padding: 1px 10px 1px 10px;
  background-clip: padding-box;
  background: #e6b450;
}


#workspaces {
	padding-top: 0px;
  padding-bottom: 0px;
	margin: 0px 0px;
}

#workspaces button {
	padding: 0 0px;
	margin: 0px 0px;
	background: black;
	color: black;
	border: 0px solid #1b1d1e;
	font-weight: bold;
}
#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}

#workspaces button.focused {
	background: #e88939;
	background: #00afd7;
	color: #1b1d1e;
}

#workspaces button.urgent {
	background: #af005f;
	color: #1b1d1e;
}
#battery {
  border-radius: 0;
}
#battery.charging,
#battery.plugged {
  background-color: #facf89;
  color: black;
  background-clip: padding-box;
}
#battery.critical,
#battery.low {
  background-color: #ff5400;
  color: black;
  background-clip: padding-box;
}

#tray {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 0px 0px;
}

#battery.discharging {
  background-clip: padding-box;
  background: #9ece6a;
  color: black;
}

#backlight,
#pulseaudio,
#custom-bluetooth {
  padding: 0 13px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 3px;
  margin-right: 3px;
}

#network {
  background-clip: border-box;
  color: #ffb454;
}

#pulseaudio {
  background-clip: border-box;
  border-radius: 0;
  background-color: #39bae6;
  color: black;
}

widget > * {
  margin-top: 0px;
  margin-bottom: 0px;
}
.modules-left > widget > * {
  margin-left: 12px;
  margin-right: 12px;
}
.modules-left > widget:first-child > * {
  margin-left: 25px;
}
.modules-left > widget:last-child > * {
  margin-right: 12px;
}
.modules-center > widget > * {
  margin-left: 12px;
  margin-right: 12px;
}
.modules-right > widget > * {
  padding: 0 12px;
  margin-left: 0;
  margin-right: 0;
}
.modules-right > widget:first-child > * {
  border-radius: 5px 0 0 5px;
}
.modules-right > widget:last-child > * {
  border-radius: 0 5px 5px 0;
  margin-right: 20px;
}
#taskbar button.active {
  background-color: #21262e;
  margin-left: 4px;
  border-radius: 4px;
  font-family: Fira Sans;
  margin-right: 4px;
}
#taskbar button {
  background-color: #171b20;
  font-family: Fira Sans;
  border-radius: 4px;
  margin-left: 4px;
  margin-right: 4px;
}
