* {
  border: none;
  min-height: 0px;
  border-radius: 0;
  font-family: "Iosevka Nerd Font ", Roboto, sans-serif;
  font-size: 8px;
}

window#waybar {
  background-color: #0a0e14;
}

#window {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 0;
  padding-bottom: 0;
  border-radius: 0px;
  transition: none;
}

#submap {
  padding: 5px;
  background-color: #89b4fa;
  color: black;
}

#clock {
  font-family: "Iosevka Nerd Font Medium";
  margin: 0px;
  color: #e6b450;
  padding: 1px 10px 1px 10px;
  background-clip: padding-box;
}

#memory {
  background: #ffa3aa;
  color: black;
  border-radius: 0;
}

#workspaces {
	padding-top: 0px;
  padding-bottom: 0px;
	margin: 0px 0px;
  color: #e6b450;
}

#workspaces button {
  color: #e6b450;
	padding: 0 0px;
	margin: 0px 0px;
	font-weight: bold;
}
#workspaces button:hover {
}

#workspaces button.focused {
}

#workspaces button.urgent {
	background: #af005f;
	color: #1b1d1e;
}
#battery {
  border-radius: 0;
}
#battery.charging,
#battery.plugged {
  color: #facf89;
  /* color: black; */
  background-clip: padding-box;
}
#battery.critical,
#battery.warning {
  color: #ff5400;
  /* color: black; */
  background-clip: padding-box;
}

#tray {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 0px 0px;
}

#battery.discharging {
  background-clip: padding-box;
  color: #9ece6a;
  /* color: black; */
}

#backlight,
#pulseaudio,
#custom-bluetooth {
  padding: 0 13px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 3px;
  margin-right: 3px;
}

#network {
  background-clip: border-box;
  color: #ffb454;
}

#pulseaudio {
  background-clip: border-box;
  border-radius: 0px;
  color: #39bae6;
  /* color: black; */
}

#backlight {
  background-clip: border-box;
  border-radius: 0px;
  color: #e6b450;
  /* color: #000; */
}

widget > * {
  margin-top: 0px;
  margin-bottom: 0px;
}
.modules-left > widget > * {
  margin-left: 12px;
  margin-right: 12px;
}
.modules-left > widget:first-child > * {
  margin-left: 25px;
}
.modules-left > widget:last-child > * {
  margin-right: 12px;
}
.modules-center > widget > * {
  margin-left: 12px;
  margin-right: 12px;
}
.modules-right > widget > * {
  padding: 0 12px;
  margin-left: 0;
  margin-right: 0;
}
.modules-right > widget:first-child > * {
  border-radius: 5px 0 0 5px;
}
.modules-right > widget:last-child > * {
  border-radius: 0 5px 5px 0;
  margin-right: 20px;
}

#pulseaudio-slider, #backlight-slider { 
  margin: 0px;
  padding: 0px;
}
#pulseaudio-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
    border-radius: 20px;
    margin: 0px;
    padding: 0px;
}
#pulseaudio-slider trough {
    min-height: 10px;
    min-width: 50px;
    border-radius: 20px;
    background-color: #0a0e14;
}
#pulseaudio-slider highlight {
    min-width: 10px;
    border-radius: 5px;
    background-color: #39bae6;
}

#backlight-slider slider {
    margin: 0px;
    padding: 0px;
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
    border-radius: 20px;
}
#backlight-slider trough {
    min-height: 10px;
    min-width: 50px;
    border-radius: 20px;
    background-color: #0a0e14;
}
#backlight-slider highlight {
    min-width: 10px;
    border-radius: 5px;
    background-color: #e88939;
}
#not-power {
  min-height: 0px;
  margin: 0px;
  padding: 0px;
}
