* {
  border: none;
  border-radius: 0;
  font-family: "CozetteVector Nerd Font", Roboto, sans-serif;
  font-size: 8px;
  font-weight: 400;
  color: #89b4fa;
}

window#waybar {
  background-color: rgba(6, 8, 13, 1.0);
}

#window {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 0;
  padding-bottom: 0;
  border-radius: 0px;
  transition: none;
}

#clock {
  margin: 0px;
  color: black;
  padding: 1px 10px 1px 10px;
  background-clip: padding-box;
  background: #7aa2f7;
}

#workspaces {
	background: #0c0e0f;
  padding: 0;
  margin: 0;
    font-weight: normal;
    font-style: normal;
}
#workspaces button {
  padding: 0;
  margin: 0;
  font-size: 3px;
}

#battery {
  border-radius: 0;
}
#battery.charging,
#battery.plugged {
  background-color: #facf89;
  color: black;
  background-clip: padding-box;
}
#battery.critical,
#battery.low {
  background-color: #ff5400;
  color : black;
  background-clip: padding-box;
}

#tray {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 0px 0px;
}

#battery.discharging {
  background-clip: padding-box;
  background:#9ece6a ;
  color: black;
}

#backlight,
#pulseaudio,
#custom-bluetooth {
  padding: 0 13px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 3px;
  margin-right: 3px;
}

#network {
  background-clip: border-box;
  color: #f7768e;
}

#pulseaudio {
  background-clip: border-box;
  border-radius: 0;
  background-color: #7dcfff;
  color: black;
}

widget > * {
  margin-top: 0px;
  margin-bottom: 0px;
}
.modules-left > widget > * {
  margin-left: 12px;
  margin-right: 12px;
}
.modules-left > widget:first-child > * {
  margin-left: 25px;
}
.modules-left > widget:last-child > * {
  margin-right: 12px;
}
.modules-center > widget > * {
  margin-left: 12px;
  margin-right: 12px;
}
.modules-right > widget > * {
  padding: 0 12px;
  margin-left: 0;
  margin-right: 0;
}
.modules-right > widget:first-child > * {
  border-radius: 5px 0 0 5px;
}
.modules-right > widget:last-child > * {
  border-radius: 0 5px 5px 0;
  margin-right: 20px;
}
#taskbar button.active {
  background-color: #21262e;
  margin-left: 4px;
  border-radius: 4px;
  font-family: Fira Sans;
  margin-right: 4px;
}
#taskbar button {
  background-color: #171b20;
  font-family: Fira Sans;
  border-radius: 4px;
  margin-left: 4px;
  margin-right: 4px;
}
