:root {
  --bg-color: #fdf6e3;
  --foreground:            #52676f;
}
* {
  border: none;
  border-radius: 0;
  font-family: "Terminess Nerd Font", Roboto, sans-serif;
  font-size: 8px;
  color: #89b4fa;
}

window#waybar {
  background-color: rgba(195, 90, 30, 1.0);
}

#window {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 0;
  padding-bottom: 0;
  border-radius: 0px;
  transition: none;
}

#clock {
  margin: 0px;
  color: #52676f;
  padding: 1px 10px 1px 10px;
  background-clip: padding-box;
  background: #E6B450;
}

#workspaces {
	background: #0c0e0f;
	margin: 5px 5px;
    padding: 8px 5px;
	border-radius: 16px;
    border: solid 0px #cdd6f4;
    font-weight: normal;
    font-style: normal;
}
#workspaces button {
    padding: 0px 5px;
    margin: 0px 3px;
    border-radius: 16px;
    color: #2f354a;
    background-color: #2f354a;
    transition: all 0.3s ease-in-out;
}
#workspaces button.active {
    color: #cdd6f4;
    background-color: #cdd6f4;
    border-radius: 16px;
    min-width: 50px;
    background-size: 400% 400%;
    transition: all 0.3s ease-in-out;
}
#workspaces button:hover {
	background-color: #cdd6f4;
	color: #cdd6f4;
	border-radius: 16px;
  min-width: 50px;
  background-size: 400% 400%;
}

#battery {
  border-radius: 0;
}
#battery.charging,
#battery.plugged {
  background-color: #facf89;
  color: #52676f;
  background-clip: padding-box;
}
#battery.critical,
#battery.low {
  background-color: #ff5400;
  color : #52676f;
  background-clip: padding-box;
}

#tray {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 0px 0px;
}

#battery.discharging {
  background-clip: padding-box;
  background:#9ece6a ;
  color: #52676f;
}

#backlight,
#pulseaudio,
#custom-bluetooth {
  padding: 0 13px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 3px;
  margin-right: 3px;
}

#network {
  background-clip: border-box;
  color: #FFB454;
}

#pulseaudio {
  background-clip: border-box;
  border-radius: 0;
  background-color: #39BAE6;
  color: #52676f;
}

widget > * {
  margin-top: 0px;
  margin-bottom: 0px;
}
.modules-left > widget > * {
  margin-left: 12px;
  margin-right: 12px;
}
.modules-left > widget:first-child > * {
  margin-left: 25px;
}
.modules-left > widget:last-child > * {
  margin-right: 12px;
}
.modules-center > widget > * {
  margin-left: 12px;
  margin-right: 12px;
}
.modules-right > widget > * {
  padding: 0 12px;
  margin-left: 0;
  margin-right: 0;
}
.modules-right > widget:first-child > * {
  border-radius: 5px 0 0 5px;
}
.modules-right > widget:last-child > * {
  border-radius: 0 5px 5px 0;
  margin-right: 20px;
}
#taskbar button.active {
  background-color: #21262e;
  margin-left: 4px;
  border-radius: 4px;
  font-family: Fira Sans;
  margin-right: 4px;
}
#taskbar button {
  background-color: #171b20;
  font-family: Fira Sans;
  border-radius: 4px;
  margin-left: 4px;
  margin-right: 4px;
}
